body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6c5ce7; /* Warna latar belakang biru */
}

header {
    background-color: #a29bfe; /* Warna latar belakang ungu */
    color: #fff; /* Warna teks putih */
    padding: 20px;
}

header h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Warna teks putih */
}

main {
    padding: 20px;
}

.homepage {
    background-color: #fff; /* Warna latar belakang putih */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}

.homepage h2 {
    color: #6c5ce7; /* Warna teks biru */
}

.homepage p {
    color: #333; /* Warna teks hitam */
}
