body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e44ad; /* Warna latar belakang ungu */
    color: #fff; /* Warna teks putih */
}

header {
    background-color: #3498db; /* Warna latar belakang biru */
    padding: 20px;
    text-align: center; /* Penataan teks ke tengah */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Penataan menu ke tengah */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Warna teks putih */
}

main {
    padding: 20px;
}

.homepage {
    background-color: #fff; /* Warna latar belakang putih */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    text-align: center; /* Penataan teks ke tengah */
}

.homepage h2 {
    color: #8e44ad; /* Warna teks ungu */
}

.homepage p {
    color: #333; /* Warna teks hitam */
}

.blog {
    text-align: center; /* Penataan teks ke tengah */
}

.blog h2 {
    color: #8e44ad; /* Warna teks ungu */
}

.article-list {
    display: flex;
    justify-content: center; /* Penataan link ke tengah */
    margin-top: 20px;
}

.article-list a {
    color: #3498db; /* Warna teks biru */
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.article-list a:hover {
    text-decoration: underline;
}

.gallery {
    text-align: center; /* Penataan teks ke tengah */
}

.gallery h2 {
    color: #8e44ad; /* Warna teks ungu */
}

.gallery-container {
    display: flex;
    justify-content: center; /* Penataan gambar ke tengah */
    margin-top: 20px;
}

.gallery-container figure {
    margin: 0;
}

.gallery-container img {
    max-width: 100%;
    height: auto;
}

.gallery-container figcaption {
    margin-top: 10px;
    color: #fff; /* Warna teks putih */
}

.contact {
    text-align: center; /* Penataan teks ke tengah */
}

.contact h2 {
    color: #8e44ad; /* Warna teks ungu */
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #3498db; /* Warna teks biru */
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
